@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    color: black;
    font-weight: 400;
    box-sizing: border-box;
    font-family: "poppins";
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
body{
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    /* height: 100%; */
    width: 100%;
    /* max-height: 41em; */
    max-width: 89em;
    background: #1c1c1c;
    border-radius: 10px;
    border-radius: 44px;
}
.container>div{
    gap: 10px;
    display: flex;
    justify-content: space-between;
}
.main{
    width: 100%;
    /* background: blue; */
}
.main-output{
    display: flex;
    align-items: end;
    position: relative;
    /* background: green; */
    border-radius: 10px;
}
.main-output>div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 21px;
    position: relative;
    /* background: red; */
    height: 100%;
    max-height: 50%;
    border-radius: 40px;
    box-shadow: inset 6px 6px 10px #121212, inset -6px -6px 10px #2c2c2c;
}
.output{
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    margin: 10px 3em;
    /* background: red; */
}
.output h2{
    font-weight: 550;
    color: #ffffff;
    font-size: 57px;
}
.output h3{
    font-size: 38px;
    font-weight: 550;
    color: #f9a825;
    text-align: end;
}
.main-btn{
    display: flex;
    max-width: 26em;
    border-radius: 10px;
    flex-direction: column;
}
.main-btn>div{
    gap: 17px;
    margin: 3em 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5em, 1fr));
}
.main-btn .btn:nth-child(16){
    grid-column: 4 / span 1;
    grid-row: 4 / span 2;
    border-radius: 40px;
    background: #f9a825;
}
.main-btn .btn:nth-child(1) h3{
    color: #f9a825;
}
.main-btn .btn:nth-child(2) h3{
    color: #f9a825;
}
.main-btn .btn:nth-child(3) h3{
    color: #f9a825;
}
.main-btn .btn:nth-child(4) i{
    color: #f9a825;
}
.main-btn .btn:nth-child(8) h3{
    color: #f9a825;
}
.main-btn .btn:nth-child(12) h3{
    color: #f9a825;
}
.main-btn .btn:nth-child(16) h3{
    color: #161616;
    font-size: 44px;
}
.btn{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 5.4em;
    border-radius: 50%;
    background: #161616;
    box-shadow: 8px 8px 16px #070707, -8px -8px 16px #292929;
}
.btn h3{
    font-weight: 550;
    color: #ffffff;
    font-size: 27px;
}
.main-history{
    width: 100%;
    height: 32em;
    display: flex;
    max-width: 16em;
    border-radius: 20px;
    margin: 10px 10px;
    background: #1c1c1c;
}
.history {
    margin: 10px 15px;
    max-height: 150px;
    overflow-y: auto;
}
.history h4{
    margin-top: 10px;
}
.history h4, ul li{
    color: white;
}
.history ul li{
    margin-top: 20px;
}
